* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
}

.logo img {
    margin-top: 25px;
}

.icon_text {
    display: flex;
    margin-top: 20px;
    padding-left: 8px;
}

.food {
    color: #F17228;
    font-family: 'Source Sans Pro' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31.1102px;
    line-height: 120%;
}

.wagon {
    color: #FFB30E;
    font-family: 'Source Sans Pro' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31.1102px;
    line-height: 120%
}

.deliver {
    margin-top: 30px;
    font-family: 'Source Sans Pro' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #424242;
}

.location {
    display: flex;
    margin-left: 230px;
}

.loc_img img {
    margin-top: 30px;
}